// PUT COMMENT OF WORDPRESS THEME HERE

// FONT FAMILY
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$font-family-base: "Jost", sans-serif;

// TYPO

$font-size-base: 2rem; // 16px
$lead-font-size: $font-size-base * 1.25; // 20px

$line-height-base: 1;

$paragraph-margin-bottom: 0;

// DISPLAY SIZES
// Must be declared in rem.
// For easy conversion: https://nekocalc.com/px-to-rem-converter
// Can add more displays (7, 8, etc...)
// I use only display classes for different font sizes

$display-font-sizes: (
  1: 3rem,
  // 48px
  2: 2.5rem,
  // 40px
  3: 1.25rem,
  // 20px
  4: 0.938rem,
  // 15px
  5: 0.875rem,
  // 14px
);

$display-font-weight: 400;
$display-line-height: 1;

// FONT WEIGHTS

$font-weight-lighter: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 500;
$font-weight-bold: 600;
$font-weight-bolder: 700;

// BASE COLORS

// Define black and white values
$white: #fff;
$black: #1d1c1e;

// Create variables with colors and pass them into the theme colors
$peach: #e7816b;
$light-peach: #ffad9b;

$theme-colors: (
  "peach": $peach,
  "light-peach": $light-peach,
  "gray-light": #ccc,
  "gray-dark": #333,
);

$body-bg: $white;
$body-color: $black;

// LINKS

$link-color: $black;
$link-hover-color: $black;
$link-decoration: none;
$link-hover-decoration: none;

// NAV-LINKS

$nav-link-color: $black;
$nav-link-hover-color: $peach;
$nav-link-font-size: 14px;
$nav-link-font-weight: 400;

// DEFINES THE PADDING BETWEEN NAV LINKS
$wi-nav-link-padding: 44px;
$wi-nav-link-padding-mobile: 20px;

.navbar-nav {
  gap: $wi-nav-link-padding;
}

.offcanvas {
  .navbar-nav {
    gap: $wi-nav-link-padding-mobile;
  }
}

// Dont't touch this
$navbar-nav-link-padding-x: 0;
$navbar-light-color: $nav-link-color;
$navbar-light-hover-color: $nav-link-hover-color;
//

// GRID AND CONTAINER

$md: 768px;
$lg: 1024px;
$xl: 1440px;
$xxl: 1920px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: $md,
  lg: $lg,
  xl: $xl,
  xxl: $xxl,
);

$grid-columns: 12;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1110px,
  xxl: 1111px,
);

// SPACING
$spacer: 10px;

$spacers: (
  0: 0,
  1: $spacer,
  2: $spacer * 2,
  3: $spacer * 3,
  4: $spacer * 4,
  5: $spacer * 5,
  6: $spacer * 6,
  7: $spacer * 7,
  8: $spacer * 8,
  9: $spacer * 9,
  10: $spacer * 10,
  11: $spacer * 11,
  12: $spacer * 12,
  13: $spacer * 13,
  14: $spacer * 14,
  15: $spacer * 15,
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import "./mixins/mixins";

.menu-spacer {
  margin-top: 162px;
}
