// PUT COMMENT OF WORDPRESS THEME HERE

// IMPORTS

@import "./mixins/mixins";
@import "./bs-config/01-TYPO";
@import "./bs-config/02-COLORS";
@import "./bs-config/03-NAV&LINKS";
@import "./bs-config/04-GRID";
@import "./bs-config/05-SPACING";
@import "./utilities/utilities";

@import "../node_modules/bootstrap/scss/bootstrap.scss";

// Import here the partials for your project.

// ADAPTIVE SIZES

/* html {
  font-size: 15px;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 1.11vw;
  }
  @media screen and (min-width: 2395px) {
    font-size: 0.95vw;
  }
  @media screen and (min-width: 3800px) {
    font-size: 0.85vw;
  }
} */

html {
  font-size: 15px;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 1.11vw;
  }
  @media screen and (min-width: 1920px) {
    font-size: 16px;
  }
  @media screen and (min-width: 2395px) {
    font-size: 0.95vw;
  }
  @media screen and (min-width: 3800px) {
    font-size: 0.85vw;
  }
}
