// FONT FAMILY
$font-family-base: "Arial", sans-serif;

// TYPO

$font-size-base: 1rem; // 16px
$lead-font-size: $font-size-base * 1.25; // 20px

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

$line-height-base: 1;

$paragraph-margin-bottom: 0;

// DISPLAY SIZES
// Must be declared in rem.
// For easy conversion: https://nekocalc.com/px-to-rem-converter
// Can add more displays (7, 8, etc...)

$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem,
  7: 10rem,
);

$display-font-weight: 400;
$display-line-height: 1.2;

// BASE COLORS
// Please change these aweful colors !
$theme-colors: (
  "primary": #ccc,
  "secondary": #ff9a01,
  "tertiary": #fa11c7,
  "success": #1eff00,
  "info": #00f7ff,
  "warning": #ff8800,
  "danger": #ff0000,
  "light": #e9e9e9,
  "dark": #363636,
  "whatever": #fff,
);

// LINKS

$link-color: blue;
$link-hover-color: green;
$link-decoration: none;
$link-hover-decoration: underline;

// GRID AND CONTAINER

$md: 768px;
$lg: 1024px;
$xl: 1440px;
$xxl: 1920px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: $md,
  lg: $lg,
  xl: $xl,
  xxl: $xxl,
);

$grid-columns: 12;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);

// SPACING
$spacer: 10px;

$spacers: (
  0: 0,
  1: $spacer,
  2: $spacer * 2,
  3: $spacer * 3,
  4: $spacer * 4,
  5: $spacer * 5,
  6: $spacer * 6,
  7: $spacer * 7,
  8: $spacer * 8,
  9: $spacer * 9,
  10: $spacer * 10,
  11: $spacer * 11,
  12: $spacer * 12,
  13: $spacer * 13,
  14: $spacer * 14,
  15: $spacer * 15,
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import "./mixins/mixins";
