// FONT FAMILY
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$font-family-base: "Jost", sans-serif;

// TYPO

$font-size-base: 1rem;
$lead-font-size: $font-size-base * 1.25;

$line-height-base: 1;

$paragraph-margin-bottom: 0;

// DISPLAY SIZES
// Must be declared in rem.
// For easy conversion: https://nekocalc.com/px-to-rem-converter
// Can add more displays (7, 8, etc...)
// I use only display classes for different font sizes

$display-font-sizes: (
  1: 3rem,
  2: 2.5rem,
  3: 1.25rem,
  4: 0.938rem,
  5: 0,
);

$display-font-weight: 400;
$display-line-height: 1.1;

// FONT WEIGHTS

$font-weight-lighter: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 500;
$font-weight-bold: 600;
$font-weight-bolder: 700;
